@model IEnumerable<Career>

@{
    ViewData["Title"] = "Careers";
}

<div class="container-fluid container-intro-careers-bg">
    <div class="container-intro-transbox">
        <div class="container">
            <partial name="_NavbarPartial" />

            <div class="container-intro">
                <h2 class="container-intro-transbox-header text-md-center">
                    FIND YOUR DREAM JOB AT OUR COMPANY
                </h2>
                <p class="container-intro-transbox-p text-md-center">
                    internships, intermediate developer, consultant &amp; many more
                </p>
                <p class="text-md-center">
                    <button class="btn btn-outline-primary btn-custom">View jobs &darr;</button>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    @if (Model.Count() == 0)
    {
        <h2 class="not-found-header">
            <img src="~/images/icons8-user-not-found-100.png" width="65" height="65" /> CAREERS CURRENTLY UNAVAILABLE
        </h2>
        <p class="not-found-text">
            For more details visit <a class="not-found-link" asp-controller="Home" asp-action="Contact">Contact Us</a> page
        </p>
        <hr class="bg-orange" />
    }
    else
    {
        <h2 class="container-logo">@Model.Count() JOBS AVAILABLE</h2>
        @foreach (var c in Model)
        {
            <div class="career">
                <h2 class="career-name">@c.CareerName</h2>

                <p class="career-prop">Location: @c.CareerLocation</p>
                <p class="career-prop">Job Type: @c.CareerType</p>
                <p class="career-prop">Posted: @c.CareerDatePosted.ToShortDateString()</p>
                <div class="career-footer">
                    <div class="career-closing-date">Closing Date:  @c.CareerClosingDate.ToShortDateString()</div>
                    <div>
                        <a href="#">
                            <img src="~/images/icons8-love-24.png" />
                        </a> <a href="#">
                            <img src="~/images/icons8-chat-24.png" />
                        </a>
                    </div>
                </div>
            </div>
        }
        <a class="btn btn-outline-info text-info" asp-controller="Career" asp-action="Apply">Apply Here &rarr;</a>
    }
</div>